<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>Vertical Tank Maintenance</title>
	<link rel="stylesheet" type="text/css" href="../static/css/stylesheet.css">
</head>
  <body>
    <header><h1>Vertical Tank Maintenance</h1></header>
    <nav>
      <ul class="menu">
        <li class="menu"><a href="/">Home</a></li>
        <li class="menu"><a href="/about">About</a></li>
        <li class="menu"><a href="/estimate">Estimate</a></li>
      </ul>
    </nav>
    <main>
     {% block body%}
<div>
  <h2>Welcome to VTM!</h2>
  <hr />
  <img
    src="../static/images/above_ground_vertical_tanks.jpg"
    class="responsive" />
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed hendrerit
    molestie dui a mattis. Donec magna enim, tincidunt accumsan tortor at,
    vestibulum vulputate nisl. Suspendisse fringilla libero sit amet sodales
    lacinia. Aliquam ligula augue, porttitor posuere elementum nec, porttitor
    nec purus. Nulla facilisi. Etiam malesuada risus est, at finibus tellus
    efficitur id. Aliquam sollicitudin mi nec mauris aliquet, non bibendum velit
    feugiat. Phasellus in sem sed quam placerat consequat. Suspendisse ac metus
    vitae felis finibus ultrices mattis eu risus. Curabitur iaculis faucibus
    erat, ut gravida quam tempor et. Quisque eget urna est.
  </p>
</div>
  </main>
{% endblock%}
  <footer>&copy; VTM 2022</footer>
 </body>

</html>